/* -------------------------------------------------
 style.css
------------------------------------------------- */
html {
  font-size: 62.5%;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
  position: relative;
}

body {
  font-size: 1.4rem;
  position: relative;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
