/* -------------------------------------------------
 order-list.css
------------------------------------------------- */
.order-contents {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    border-image: initial;
    margin-bottom: 24px;
}

.order-contents__list {
    max-height: 320px;
    overflow-y: scroll;
}

.order-contents__list__item::before {
    width: calc(100% - 40px);
    border-top: 1px solid rgb(224, 224, 224);
    margin: 0px auto;
    content: "";
    display: block;
}

.order-contents__list__item:first-child::before {
    border-top: none;
}

.order-contents__list__item__box {
    padding: 16px 24px;
    justify-content: space-around;
    -webkit-box-pack: justify;
    display: flex;
}

.order-contents__list__item__box__left {
    margin-top: 8px;
    margin-right: 16px;
    line-height: 20px;
    position: relative;
}

.order-contents__list__item__box__left__select {
    padding: 0px 24px 0px 8px;
    border-radius: 0px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(224, 224, 224) !important;
    border-image: initial !important;
    outline: none;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #3e9920;
    -webkit-font-smoothing: antialiased;
}

.order-contents__list__item__box__left::after {
    line-height: 24px;
    color: rgb(224, 224, 224);
    content: "▾";
    position: absolute;
    top: 0px;
    right: 8px;
    height: 24px;
    pointer-events: none;
}

.order-contents__list__item__box__center {
    width: 216px;
    flex-grow: 1;
    -webkit-box-flex: 1;
    overflow: hidden;
    cursor: pointer;
}

.order-contents__list__item__box__center__name {
    padding: 8px 0;
    line-height: 20px;
    color: #262626;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.order-contents__list__item__box__center__delete {
    fill: rgb(36, 122, 0);
    background: transparent;
    line-height: 16px;
    color: rgb(36, 122, 0);
    text-decoration: none;
    font-size: 12px;
    border: none;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
}

.order-contents__list__item__box__right {
    padding: 8px 0;
    line-height: 20px;
    color: #262626;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.order-contents__total {
    margin: 10px 24px;
    display: flex;
    justify-content: space-between;
}